@media screen and (max-width: 768px) {
    // 상단영역
    #header {
        > div {
            .center {width: 90%;}
        }
        .h_top {
            .center {
                flex-direction: column;
                .sns {
                    text-align: center;
                    li {margin: 10px 15px;}
                }
                .right_box {display: none;}
            }
        }
        .h_bot {
            .center {
                height: 65px;
                align-items: center;
            }
            .gnb {
                display: none;
            }
            .mobile_menu {
                display: block;
            }
        }
    }
    // 중간영역
    #container {
        // 메인페이지 popular_local 영역
        .popular_local {
            .center {width: 90%;}
        }
        //메인페이지 local_video 영역
        .local_video {
            .center {
                width: 90%;
                .context_wrap {
                    > div {width: 100%;}
                    .left {margin-bottom: 0;}
                }
            }
        }
        //메인페이지 tour_bus 영역
        .tour_bus {
            .center {
                width: 90%;
                .bus_wrap {
                    transform: translateY(-215%);
                    flex-wrap: wrap;
                    .bus_box {width: 45%;}
                }
            }
        }
        //메인페이지 local_count 영역
        .local_count {
            .center {
                width: 90%;
                .count_wrap {
                    flex-wrap: wrap; justify-content: center;
                    .count_box {
                        width: 22%;
                        margin: 2%;
                        &:last-child {width: 49%;}
                    }
                }
            }
        }
        //메인페이지 package 영역
        .package {
            .center {
                width: 90%;
                // .package_wrap {
                //     .right {
                //         .local {
                //             left: 390px;
                //         }
                //     }
                // }
            }
        }
        //메인페이지 free_tour 영역
        .free_tour {
            .center {width: 90%;}
        }
        // 메인페이지 map 영역
        .comp_map {
            .center {
                width: 90%;
                .map_wrap {
                    flex-direction: column;
                    .left {
                        font-size: 18px; width: 100%;
                        margin-bottom: 25px;
                    }
                    #map {width: 100%;}       
                }
            }
        }
        // 클래스 'on'이 붙었을 때
        .section.on {
            .center {
                //클래스 'on' 붙은 package 영역
                .package_wrap {
                    .right {left: 0;}
                }
            }
        }
        // 커뮤니티 디테일 페이지
        // 서브페이지 커뮤니티 디테일
        .detail_page {
            .center {
                width: 90%;
                .detail_wrap {
                    .detail_bot {
                        flex-direction: column;
                    }
                    // 댓글 css
                    .com_wrap {
                        .com_insert {
                            #com_form {
                                .btn_wrap {
                                    #com_btn {width: 100% !important;}
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    // 하단영역
    #footer {
        > section {
            .center {width: 95%;}
        }
        .f_top {
            .f_menu {justify-content: center;} 
        }
        .f_bot {
            .center {
                flex-direction: column;
                .left {width: 10%; margin: 5px 0 13px;}
                .right {text-align: center;}
            }
        }
    }
    // 로그인 영역
    #login {
        // background-color: ;
        .center {
            width: 100%;
            .login_wrap {
                height: 100vh;
                border-radius: 0;
            }
        }
    }
    // 회원가입 영역
    #join {
        .center {
            width: 100%;
            .join_wrap {
                padding: 70px;
            }
        }
    }
    // 배너 영역
    .banner.list {
        .center {width: 90%;}
    }
    // 호텔페이지 where 영역
    .where {
        .center {width: 90%;}
    }
    // 호텔페이지 many_hotel 영역
    .many_hotel {
        .center {width: 90%;}
    }
    // 호텔페이지 notice 영역
    .notice {
        .center {width: 90%;}
    }
    // 해외패키지 theme 영역
    .theme {
        .center {
            width: 90%;
            .theme_wrap {
                flex-wrap: wrap !important;
                .list {
                    width: 46% !important;
                    height: 280px !important;
                    &:nth-child(1),&:nth-child(2) {
                        margin-bottom: 50px !important;
                    }
                }
            }
        }
    }
    // 해외패키지 best 영역 / hot_area 영역 / family_tour 영역
    .best,.hot_area,.family_tour {
        .center {
            width: 90%;
            .best_wrap,.area_wrap,.tour_wrap {
                .list {width: 46% !important;}
            }
        }
    }
    // 해외패키지 bot_banner 영역
    .bot_banner {
        .center {
            width: 90%;
            .text_box {padding-left: 30px !important;}
        }
    }
    // 해외패키지 package_tell 영역
    .package_tell {
        .center {
            width: 90%;
            .tell_box {
                padding: 36px 22px !important;
                flex-direction: column;
                > div {width: 100% !important;}
            }
        }
    }
    //항공페이지(서브페이지) 영역
    //항공페이지 air_sale 영역 / hot_pick 영역 / benefit 영역
    .air_sale,.hot_pick,.benefit {
        .center {
            width: 90%;
            .sale_wrap,.pick_wrap,.benefit_wrap {
                // flex-wrap: wrap;
                .list {
                    // width: 48% !important;
                    margin: 0 1% 30px !important;
                }
            }
        }
    }
    //항공페이지 group 영역
    .group {
        .center {width: 90%;}
    }
    //항공페이지 work_time 영역
    .work_time {
        .center {
            width: 90%;
            .work_time_wrap {
                flex-direction: column;
                > .left {
                    width: 100% !important;
                    margin-bottom: 30px;
                    .icon {left: 0!important;}
                }
                > .right {width: 100% !important;}
            }
        }
    }
    // 목록페이지 영역
    .travel_list {
        .center {
            width: 90%;
            .wrap {
                .list_wrap {width: 100% !important; margin-right: 0 !important;}
                .ad_wrap{display: none;}
            }
        }
    }
    // 작성페이지 및 수정페이지 영역
    .insert_wrap,.update_wrap {
        .center {
            width: 90%;
        }
    }
}