//1200px 이하 반응형
@media screen and (max-width:1200px) {
    // 상단영역
    #header {
        .center {width: 77%;}
        .h_bot {
            .gnb {
                > li {margin-left: 25px;}
            }
        }
    }
    // 중간영역
    #container {
        // 메인페이지 popular_local 영역
        .popular_local {
            .center {
                width: 78%;
            }
        }
        //메인페이지 local_video 영역
        .local_video {
            .center {
                width: 78%;
                .context_wrap {
                    flex-direction: column;
                    > div {width: 100%;}
                    .left {
                        margin-bottom: 50px;
                    }
                    .right {
                        .box_list {margin-bottom: 15px;}
                    }
                }
            }
        }
        //메인페이지 tour_bus 영역
        .tour_bus {
            .center {
                width: 78%;
                .bus_wrap {
                    transform: translateY(-215%);
                    flex-wrap: wrap;
                    .bus_box {
                        width: 45%;
                        margin-bottom: 60px;
                    }
                }
            }
        }
        //메인페이지 local_count 영역
        .local_count {
            .center {
                width: 78%;
            }
        }
        //메인페이지 package 영역
        .package {
            .center {
                width: 78%;
                .package_wrap {
                    .right {
                        .local {
                            left: -30px;
                            .box {width: 24.333%;}
                        }
                    }
                }
            }
        }
        //메인페이지 free_tour 영역
        .free_tour {
            .center {width: 78%;}
        }
        // 메인페이지 map 영역
        .comp_map {
            .center {
                width: 78%;
                .call {
                    span {
                        display: block;
                        padding-top: 8px;
                        font-size: 17px;
                    }
                }
            }
        }
        // 배너 영역
        .banner.list {
            .center {width: 78%;}
        }
        // 호텔페이지 where 영역
        .where {
            .center {width: 78%;}
        }
        // 호텔페이지 many_hotel 영역
        .many_hotel {
            .center {width: 78%;}
        }
        // 호텔페이지 notice 영역
        .notice {
            .center {width: 78%;}
        }
        // 해외패키지 theme 영역
        .theme {
            .center {
                width: 78%;
                .theme_wrap {
                    .list {
                        width: 22%; margin: 0 1%;
                        height: 200px;
                        a {
                            .wrap {
                                p {padding: 10px 0 22px;}
                            }
                        }
                    }
                }
            }
        }
        // 해외패키지 best 영역 / hot_area 영역 / family_tour 영역
        .best,.hot_area,.family_tour {
            .center {
                width: 78%;
                .best_wrap,.area_wrap,.tour_wrap {
                    .list {
                        width: 48%;
                        a {
                            img {height: 255px;}
                        }
                    }
                }
            }
        }
        // 해외패키지 bot_banner 영역
        .bot_banner {
            .center {width: 78%;}
        }
        // 해외패키지 package_tell 영역
        .package_tell {
            .center {width: 78%;}
        }
        //항공페이지(서브페이지) 영역
        //항공페이지 air_sale 영역 / hot_pick 영역 / benefit 영역
        .air_sale,.hot_pick,.benefit {
            .center {
                width: 78%;
                .sale_wrap,.pick_wrap,.benefit_wrap {
                    flex-wrap: wrap;
                    .list {
                        width: 48%;
                        a {
                            img {height: 255px;}
                            .price,.sub_title {padding-bottom: 50px;}
                        }
                    }
                }
            }
        }
        //항공페이지 group 영역
        .group {
            .center {
                width: 78%;
                flex-direction: column !important;
                .group_list {
                    width: 100% !important;
                    > a {
                        color: #fff;
                        background: #000; position: relative;
                        display: block; width: 100%; height: 100%;
                        img {height: 160px !important;}
                        .text_box {
                            top: 39px !important;
                            .title {font-size: 23px !important;}
                            p {font-size: 14px !important;}
                        }
                    }
                    &:nth-child(2) {margin-top: 180px;}
                    &:nth-child(3) {margin-top: 180px;}
                }
            }
        }
        //항공페이지 work_time 영역
        .work_time {
            .center {width: 78%;}
        }
        // 목록페이지 영역
        .travel_list {
            .center {width: 78%;}
        }
        // 작성페이지 및 수정페이지 영역
        .insert_wrap,.update_wrap {
            .center {width: 78%;}
        }
    }
    // 로그인 영역
    #login {
        .center {width: 60%;}
    }
    // 회원가입 영역
    #join {
        .center {width: 80%;}
    }
}