<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
    <%- include("common/font_icon.ejs"); %>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="join">
        <div class="center">
            <div class="join_wrap">
                <div class="logo_wrap">
                    <a href="/"><img src="./img/logo2.png" alt="동글투어 로고"></a>
                </div>
                <p class="text">회원가입</p>
                <form id="join_form" action="/joinAdd" method="post">
                    <div class="input_wrap">
                        <label for="id">아이디</label>
                        <input type="text" class="id input" name="id">
                        <div class="msg_box"></div>
                    </div>
                    <div class="input_wrap">
                        <label for="pass">비밀번호</label>
                        <input type="password" class="pass input" name="pass">
                        <div class="msg_box"></div>
                    </div>
                    <div class="input_wrap">
                        <label for="re_pass">비밀번호 재확인</label>
                        <input type="password" class="repass">
                        <div class="re_msg_box"></div>
                    </div>
                    <div class="input_wrap">
                        <label for="name">이름</label>
                        <input type="text" class="name input" name="name">
                        <div class="msg_box"></div>
                    </div>
                    <div class="input_wrap">
                        <label for="email">이메일</label>
                        <input type="text" class="email input" name="email" placeholder="email@naver.com">
                        <div class="msg_box"></div>
                    </div>
                    <div class="input_wrap">
                        <label for="phone">전화번호</label>
                        <input type="text" class="phone input" name="phone" placeholder="010-0000-0000">
                        <div class="msg_box"></div>
                    </div>
                    <button id="join_btn" type="submit">가입하기</button>
                </form>
                <p class="go_login">
                    이미 계정이 있습니까? <a href="/login">로그인하기</a>
                </p>
            </div>
        </div>
    </div>
    <!-- js -->
    <script src="./js/regular_expression.js"></script>
</body>
</html>