<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>해외패키지</title>
    <%- include("common/font_icon.ejs"); %>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- 상단 영역 -->
    <%- include("common/header.ejs"); %>
    <!-- 중간 영역 -->
    <div id="container">
        <div class="sub_package">
            <!-- theme 영역 -->
            <div class="theme section on">
                <div class="center">
                    <h2 class="title">이번주 추천 테마</h2>
                    <div class="theme_wrap">
                        <div class="list">
                            <a href="#">
                                <div class="bg"></div>
                                <div class="wrap">
                                    <p>겨울엔 일본여행</p>
                                    <p class="tag">#얼리버드 #모이면 할인 #가족여행지원금</p>
                                </div>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <div class="bg"></div>
                                <div class="wrap">
                                    <p>지구 반대편으로의 여행, 중남미</p>
                                    <p class="tag">#브라질 #아르헨티나 #페루 #칠레</p>
                                </div>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <div class="bg"></div>
                                <div class="wrap">
                                    <p>보라카이, 세부, 보홀</p>
                                    <p class="tag">#햇살 #바다 #호캉스 #액티비티</p>
                                </div>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <div class="bg"></div>
                                <div class="wrap">
                                    <p>기'대만'발, 대만여행</p>
                                    <p class="tag">#사전예약할인 #모이면 할인 #맛있는 특전</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- best 영역 -->
            <div class="best section on">
                <div class="center">
                    <h2 class="title">이번주 판매 베스트</h2>
                    <div class="best_wrap">
                        <div class="list">
                            <a href="#">
                                <img src="/img/best01.jpg" alt="">
                                <h3 class="best_title">규슈 4일 #인기 온천호텔 #미식 여행</h3>
                                <p class="text">후쿠오카, 벳부, 아소, 유후인 등 핵심관광</p>
                                <p class="price">699,900<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/best02.jpg" alt="">
                                <h3 class="best_title">훗카이도 4일 #베스트셀러 #인기 온천호텔 #미식여행</h3>
                                <p class="text">노보리베츠, 죠잔케이, 도야 등 인기 온천지역 숙박</p>
                                <p class="price">1,388,700<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/best03.jpg" alt="">
                                <h3 class="best_title">서유럽 3개국 8,9,10일 #베스트셀러 #로마 벤츠투어</h3>
                                <p class="text">프랑스, 스위스, 이탈리아 핵심관광</p>
                                <p class="price">3,490,000<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/best04.jpg" alt="">
                                <h3 class="best_title">오사카/교토 3,4일 #시내중심 호텔 #가족여행추천</h3>
                                <p class="text">오사카, 교토, 고베, 나라 등 간사이 핵심관광</p>
                                <p class="price">954,500<span>원~</span></p>
                            </a>
                        </div> 
                        <div class="list">
                            <a href="#">
                                <img src="/img/best05.jpg" alt="">
                                <h3 class="best_title">다낭/호이안 4,5,6일 #호이안 야경투어 #바나힐 테마파크</h3>
                                <p class="text">시내 중심 5성급 인터내셔널 호텔 / 씨푸드 특식</p>
                                <p class="price">1,099,000<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/best06.jpg" alt="">
                                <h3 class="best_title">싱가포르 5,6일 #1일 자유일정 #호텔 업그레이드</h3>
                                <p class="text">후쿠오카, 벳부, 아소, 유후인 등 핵심관광</p>
                                <p class="price">1,001,200<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/best07.jpg" alt="">
                                <h3 class="best_title">스페인 일주 8,9일 #가우디 투어 #알함브라 궁전 #스페인 맛10</h3>
                                <p class="text">시내호텔 1박 / 루프탑 레스토랑 / NO쇼핑</p>
                                <p class="price">2,999,000<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/best08.jpg" alt="">
                                <h3 class="best_title">이집트 일주 9,10,11일 #슈퍼디럭스 나일강 크루즈 #관광+휴양</h3>
                                <p class="text">카이로, 아스완, 룩소, 후르가다 등 핵심일정</p>
                                <p class="price">2,699,000<span>원~</span></p>
                            </a>
                        </div>
                        <!-- 더보기 버튼 -->
                        <a class="more_btn" href="">더보기<i class="fa-solid fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <!-- hot_area 영역 -->
            <div class="hot_area section">
                <div class="center">
                    <h2 class="title">이번주 인기 급상승</h2>
                    <div class="area_wrap">
                        <div class="list">
                            <a href="#">
                                <img src="/img/hot_area01.jpg" alt="">
                                <h3 class="best_title">보홀 4,5일 #준특급 리조트 #전신마사지 #시티투어</h3>
                                <p class="text">청정 자연에서 즐기는 다양한 액티비티</p>
                                <p class="price">609,000<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/hot_area02.jpg" alt="">
                                <h3 class="best_title">다낭/호이안 4,5,6일 #시내 5성호텔 #바니힐 테마파크 #전신마사지</h3>
                                <p class="text">다낭 시내 관광 & 호이안 올드타운 관광</p>
                                <p class="price">599,000<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/hot_area03.jpg" alt="">
                                <h3 class="best_title">괌 4,5일 #PIC 리조트 #올 인클루시브 #NEW 시내관광</h3>
                                <p class="text">아동동반 가족여행 베스트 셀러</p>
                                <p class="price">1,479,000<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/hot_area04.jpg" alt="">
                                <h3 class="best_title">시드니 6,7일 #블루마운틴 #포트 스티븐스 #오페라하우스</h3>
                                <p class="text">도시와 자연이 공존하는 시드니와 근교 핵심관광</p>
                                <p class="price">2,499,000<span>원~</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- family_tour 영역 -->
            <div class="family_tour section">
                <div class="center">
                    <h2 class="title">온가족이 사랑할 여행</h2>
                    <div class="tour_wrap">
                        <div class="list">
                            <a href="#">
                                <img src="/img/family01.jpg" alt="">
                                <h3 class="best_title">다낭/호이안 4,5,6일 #빈펄 남호이안 2베드룸 풀빌라 #빈원더스 포함</h3>
                                <p class="text">우리 일행만 단독으로 일정 진행 / 호이안 야경투어</p>
                                <p class="price">1,429,000<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/family02.jpg" alt="">
                                <h3 class="best_title">방콕/파타야 #효도여행 #원더풀 펄 디너 크루즈 #지압마사지</h3>
                                <p class="text">5성급 인터내셔널 체인 호텔 / 호텔 뷔페식</p>
                                <p class="price">1,349,000<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/family03.jpg" alt="">
                                <h3 class="best_title">오키나와 4일 #나하 시내 숙박 #츄라우미 수족관</h3>
                                <p class="text">나하 시내 온천리조트 숙박 / 맛있는 여행</p>
                                <p class="price">989,900<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="/img/family04.jpg" alt="">
                                <h3 class="best_title">괌 온워드 4,5,6일 #아동동반추천 #괌 최대 워터파크</h3>
                                <p class="text">다양한 액티비티 / 공항 근접 위치</p>
                                <p class="price">1,189,000<span>원~</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- bot_banner 영역 -->
            <div class="bot_banner section">
                <div class="center">
                    <a href="#">
                        <div class="text_box">
                            <p class="t_text">찍는 것마다 작품이 되는 럭셔리 왕국</p>
                            <p class="b_text">아부다비와 두바이 여행 상품 보러 가기</p>
                        </div>
                    </a>
                </div>
            </div>
            <!-- package_tell 영역 -->
            <div class="package_tell section">
                <div class="center">
                    <h2 class="title">패키지 예약상담</h2>
                    <div class="tell_box">
                        <div class="left">
                            <div class="left">
                                <i class="fa-solid fa-map-location-dot"></i>
                            </div>
                            <div class="right">
                                <p class="t_text">지역별 패키지 전용상담<span>1577 - 5798</span></p>
                                <p class="b_text">+ 1번 예약상담 + 1번 해외여행 + <span>1번 패키지</span></p>
                            </div>
                        </div>
                        <div class="right">
                            <i class="fa-solid fa-phone-volume"></i>기타문의<span class="num">1577 - 5778</span><span>+ 2번 + 0번</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 하단 영역 -->
    <%- include("common/footer.ejs"); %>
    <!-- 맨 위로 가는 기능 -->
    <%- include("common/go_top.ejs"); %>
    <!-- js -->
    <script src="/js/peekaboo.js"></script>
    <script src="/js/sub_more_package.js"></script>
</body>
</html>