<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>항공 페이지</title>
    <%- include("common/font_icon.ejs"); %>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <!-- 상단 영역 -->
    <%- include("common/header.ejs"); %>
    <!-- 중간 영역 -->
    <main id="container">
        <div class="air">
            <!-- air_sale 영역 -->
            <section class="air_sale section on">
                <div class="center">
                    <h2 class="title">항공사 추천 특가</h2>
                    <div class="sale_wrap">
                        <div class="list">
                            <a href="#">
                                <img src="./img/air_sale01.jpg" alt="아시아나 항공">
                                <p class="text">해외 MD추천</p>
                                <h3 class="sub_title">아시아나항공</h3>
                                <p class="route">인천<i class="fa-solid fa-arrows-left-right"></i>파리 왕복 항공권</p>
                                <p class="price">1,314,300<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="./img/air_sale02.jpg" alt="티웨이 항공">
                                <p class="text"><i class="fa-solid fa-star"></i>2월 21일 신규 취향<i class="fa-solid fa-star"></i></p>
                                <h3 class="sub_title">티웨이항공</h3>
                                <p class="route">인천<i class="fa-solid fa-arrows-left-right"></i>시드니 왕복 항공권</p>
                                <p class="price">994,600<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="./img/air_sale03.jpg" alt="타이 항공">
                                <p class="text">해외 MD추천</p>
                                <h3 class="sub_title">타이항공</h3>
                                <p class="route">인천<i class="fa-solid fa-arrows-left-right"></i>방콕 왕복 항공권</p>
                                <p class="price">625,600<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="./img/air_sale04.jpg" alt="캐세이 퍼시픽">
                                <p class="text">해외 MD추천</p>
                                <h3 class="sub_title">캐세이퍼시픽</h3>
                                <p class="route">인천<i class="fa-solid fa-arrows-left-right"></i>런던 왕복 항공권</p>
                                <p class="price">1,087,100<span>원~</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hot_pick 영역 -->
            <section class="hot_pick section on">
                <div class="center">
                    <h2 class="title">Hot Pick 국내 항공 특가</h2>
                    <div class="pick_wrap">
                        <div class="list">
                            <a href="#">
                                <img src="./img/hot_pick01.jpg" alt="제주도 풍경">
                                <p class="text">국내 MD추천</p>
                                <h3 class="sub_title">인천<i class="fa-solid fa-arrows-left-right"></i>제주</h3>
                                <p class="date">2월 20일 출발</p>
                                <p class="price">30,300<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="./img/hot_pick02.jpg" alt="부산 풍경">
                                <p class="text">국내 MD추천</p>
                                <h3 class="sub_title">김포<i class="fa-solid fa-arrows-left-right"></i>부산</h3>
                                <p class="date">2월 21일 출발</p>
                                <p class="price">42,300<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="./img/hot_pick03.jpg" alt="여수 풍경">
                                <p class="text">국내 MD추천</p>
                                <h3 class="sub_title">김포<i class="fa-solid fa-arrows-left-right"></i>여수</h3>
                                <p class="date">2월 21일 출발</p>
                                <p class="price">50,300<span>원~</span></p>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="./img/hot_pick04.jpg" alt="제주도 풍경">
                                <p class="text">국내 MD추천</p>
                                <h3 class="sub_title">부산<i class="fa-solid fa-arrows-left-right"></i>제주</h3>
                                <p class="date">2월 20일 출발</p>
                                <p class="price">28,200<span>원~</span></p>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- benefit 영역 -->
            <section class="benefit section">
                <div class="center">
                    <h2 class="title">동글투어만의 특별한 혜택!</h2>
                    <div class="benefit_wrap">
                        <div class="list">
                            <a href="#">
                                <img src="./img/benefit01.jpg" alt="해외항공 혜택 모음">
                                <p class="text">당신이 ONE하는 혜택!</p>
                                <h3 class="sub_title">해외항공 혜택 모음.ZIP</h3>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="./img/benefit02.jpg" alt="카드사별 할인 혜택">
                                <p class="text">해외 항공 최대 10% 할인!</p>
                                <h3 class="sub_title">카드사별 할인 혜택</h3>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="./img/benefit03.jpg" alt="4대 면세점 쇼핑 혜택">
                                <p class="text">롯데/신라/신세계/현대 백화점</p>
                                <h3 class="sub_title">4대 면세점 쇼핑 혜택</h3>
                            </a>
                        </div>
                        <div class="list">
                            <a href="#">
                                <img src="./img/benefit04.jpg" alt="호텔 7% 할인쿠폰 제공">
                                <p class="text">온라인 전 고객 해외 항공 구매 시 혜택!</p>
                                <h3 class="sub_title">호텔 7% 할인쿠폰 제공!</h3>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- group 영역 -->
            <section class="group section">
                <div class="center">
                    <div class="group_list">
                        <a href="#">
                            <img src="./img/group01.jpg" alt="동글투어 항공 공지">
                            <div class="text_box">
                                <h3 class="title">동글투어 항공 공지</h3>
                                <p>예약 및 취소<br>관련 안내</p>
                            </div>
                        </a>
                    </div>
                    <div class="group_list">
                        <a href="#">
                            <img src="./img/group02.jpg" alt="여행자 보험">
                            <div class="text_box">
                                <h3 class="title">한눈에 딱! 여행자 보험</h3>
                                <p>쉽고 합리적인 보험 선택<br>동글만 믿고 한번에 OK!</p>
                            </div>
                        </a>
                    </div>
                    <div class="group_list">
                        <a href="#">
                            <img src="./img/group03.jpg" alt="포켓와이파이 혜택">
                            <div class="text_box">
                                <h3 class="title">포켓와이파이 혜택</h3>
                                <p>최대 3일 무료 이용!<br>데이터 부담 없이 편하게 떠나자!</p>
                            </div>
                        </a>
                    </div>
                </div>
            </section>
            <!-- work_time 영역 -->
            <section class="work_time">
                <div class="center">
                    <h2 class="title">동글투어 항공 업무 시간 안내</h2>
                    <div class="work_time_wrap">
                        <div class="left">
                            <div class="icon"><i class="fa-solid fa-phone-volume"></i></div>
                            <div class="right">
                                <div class="top">
                                    <p>고객님을 위한 1:1 문의 상담 가능 시간<span>평일 9:00 ~ 17:00</span></p>
                                </div>
                                <div class="bot">
                                    <p>※ 주말 및 공휴일은 변경/취소/환불 등 직원 확인이 필요한 업무는 처리가 불가합니다.</p>
                                </div>
                            </div>
                        </div>
                        <div class="right">
                            <a href="#">
                                <div class="wrap">
                                    <i class="fa-solid fa-circle-question"></i>
                                    <span>자주하는 문의 FAQ 바로가기</span>
                                </div>
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
    <!-- 맨 위로 가는 기능 -->
    <%- include("common/go_top.ejs"); %>
    <!-- 하단 영역 -->
    <%- include("common/footer.ejs"); %>
    <!-- js -->
    <script src="./js/peekaboo.js"></script>
</body>
</html>